body {
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    background-color: #707070;
}

header {
    background-color: #505050;
    padding-bottom: 0.1%;
    padding-left: 0.1%;
    display: flex;
    justify-content: space-between;
}



div.blurb {
    border-style:solid;
    border-color:black;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

div.blurb:hover {
    border-color:white;
}

div.blurb h2 {
    margin-top: 0;
    margin-left:0;
    margin-right:0;
    padding-left:14px;
    background-color: #606060;
}



.button-board {
    background-color: #68584c;
    list-style-type:none;
    display:flex;
    padding-left:5px;
    padding-right:5px;
    padding-top:0;
    padding-bottom:0;
    margin-left:-5px;
    margin-right:-5px;
    margin-top:0;
    margin-bottom:0;
    justify-content: center;
}

.button-board li {
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}



.hidden {
    color:black;
    text-decoration: none;
    padding:0;
    margin:0;
}

.hidden:hover div {
    border-color:white;
}



#socials {
    list-style-type: none;
    padding-left:0%;
}

#socials li {
    display: inline-block;
    border-style:inset;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#siteLabel {
    color:black;
}

#siteLabel:hover {
    color:white;
}

#uplink {
    color:black;
}

#uplink:hover {
    color:white;
}
